h2 {
    font-style: italic;

}
p {
    text-align: left;
    font-style: italic;
    font-size: 19px;
    text-indent: 5px;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;

}
a:hover {
	color: white;
}
.center {
    text-align: center;
    border: 7px, gray, solid;
    background-color: gray;
    background-position: bottom;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    border: 4px, gray, solid;
    background-position: bottom;
    background-color: gray;
    color: white;
}
footer:hover {
    color: white;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.right {
    width: 20px; /* Ширина бордера */
    height: 100vh; /* Высота на весь экран */
    background-color: gray; /* Цвет бордера */
    top: 0; /* Начало с верхней части экрана */
    left: 0%; /* Центрирование бордера по горизонтали */
}
.left {
    width: 20px; /* Ширина бордера */
    height: 100vh; /* Высота на весь экран */
    background-color: gray; /* Цвет бордера */
    top: 0; /* Начало с верхней части экрана */
    left: 0%; /* Центрирование бордера по горизонтали */
    right: 10
    +px;
}


