h2 {
    font-style: italic;

}
p {
    text-align: left;
    font-style: italic;
    font-size: 19px;
    text-indent: 5px;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;

}
a:hover {
	color: gold;
}
.center {
    text-align: center;
    border: 3px, gray, solid;
    background-color: gray;
    background-position: bottom;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    border: 1px, gray, solid;
    background-position: bottom;
    background-color: gray;
    color: white;

}
